@use "variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh; 
  background: linear-gradient(variables.$white, variables.$pink);
  background-attachment: fixed;
  background-size: cover;
}

.app {
  width: 100vw;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;

  //Main is the box below the navbar
  main {
    width: 100vw;
    flex: 1;
  }
}