@use "functions";

.piruletas-result-container {
  @include functions.flexCenter(column);

  .message-container {
    @include functions.flexCenter(column);
    max-width: 600px;
    @media only screen and (max-width: 600px) {
      margin: 0;
      padding: 20px;
    }
  }
}
